.message-status {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  opacity: 0.9;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
}

.dot.sent {
  background-color: #adb5bd;
}

.dot.delivered {
  background-color: #adb5bd;
}

.dot.read {
  background-color: #2bff3c;
}

.dot.read {
  animation: pop 0.2s ease-in;
}

.new-msg-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.message-me {
  border-radius: 15px 15px 0 15px;
}

.message-other {
  border-radius: 15px 15px 15px 0;
}

.messsage {
  animation: fadeIn 0.2s ease-in;
}

@keyframes pop {
  from {
    transform: scale(0.6);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0);}
}
