.message-status {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  opacity: 0.9;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
}

.dot.sent {
  background-color: #adb5bd;
}

.dot.delivered {
  background-color: #adb5bd;
}

.dot.read {
  background-color: #2bff3c;
}

.dot.read {
  animation: pop 0.2s ease-in;
}

@keyframes pop {
  from {
    transform: scale(0.6);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
