.message-status {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  opacity: 0.9;
}

.chat-body {
  position: relative;
  margin-top: 5px;
  height: 500px;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #f5f6f8;
}

.message-bubble {
  max-width: 65%;
  position: relative;
}

.message-actions {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

.message-bubble:hover .message-actions {
  opacity: 1;
}

.message-actions button {
  padding: 0 6px;
  font-size: 12px;
}

.chat-input {
  background: white;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
}

.dot.sent {
  background-color: #adb5bd;
}

.dot.delivered {
  background-color: #adb5bd;
}

.dot.read {
  background-color: #2bff3c;
}

.dot.read {
  animation: pop 0.2s ease-in;
}

.new-msg-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.message-me {
  border-radius: 15px 15px 0 15px;
}

.message-other {
  border-radius: 15px 15px 15px 0;
}

.messsage {
  animation: fadeIn 0.2s ease-in;
}

.message-menu {
  position: absolute;
  top: 22px;
  right: 0;
  background: rgb(190, 190, 190);
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 100px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.message-menu button {
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  border: none;
  background: none;
}

@keyframes pop {
  from {
    transform: scale(0.6);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0);}
}
